*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
a{
    text-decoration: none;
    margin-bottom: 10px;
}
main{
    background-image: url(imgs/zoro\ amr.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-position-y:center ;
    margin-left:5px;
    border-radius: 1%;
    height: 800px;
    width: 99.33%;
    position: absolute;
    box-shadow:  0px 0px 50px 1px green inset;
    
}
header{ border-radius: 1%; box-shadow:  0px 0px 50px 1px green inset; margin: 5px;}
div{background-color: aquamarine; border-radius: 1%; height: 250px; margin:100px 5px; position: relative; top:35%;}
footer{ border-radius: 1%; box-shadow:  0px 0px 10px 1px green inset; margin-top: 610px;margin-left:5px; height: 33px; }

header p{
    margin-left:45.75%;
    margin-top: -3%;
    margin-bottom: 1%;
    font-family: 'Franklin Gothic Medium',sans-serif;
    font-style: italic;
    color: green;
}
#logo{
    width: 100px;
    height:100px;
    
    display: block;
    margin-bottom: 3%;
    margin-left: 45%;
    padding-top: 3%;
}
#foto{
    width:200px;
    height: 200px;
    box-shadow:  0px 0px 4px 4px black;
    margin-left: 55%;
    margin-top: -13%;
    display: inline;
    position: relative;
}
div p{
    text-align: center;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    font-size: 18px;
    line-height: 20px;
    width:350px;
    margin-left: 5%;
    position: relative;  
}
#PrimeiroP{
    padding-top: 100px
}
#linkedin{
    margin-left: 43%;
    margin-right: 7%;
    margin-bottom: 20px;
}
#github{
    margin-bottom: 20px;
}

footer p{
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
}